.cor-darkred-marvel{
    background-color: darkred;
}

.cor-white{
    color: white;
}

.cor-darkgrey{
    background-color: rgb(51, 65, 65);
}

.cor-vermelho-secundario{
    background-color: #B22222;
}

.imagens{
    width: 100%!important;
    height: 300px!important;
}

.borda{
    border-radius: 40px 0 40px 0;
}

.imagens:hover{
    padding: 10px;
}

.botao{
    background-color: #008321;
    color: white;
}